.logo-nome {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-nome img {
    width: 80px;
    height: auto;
}

.barra-pesquisa {
    display: flex;
    width: 60%;
    max-width: 375px;
    margin: 40px auto;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}

.campo-pesquisa {
    flex-grow: 1;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 18px;
}

.botao-pesquisa {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0;
}

.botao-pesquisa:hover {
    background-color: #3a853d;
}

.addBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0; 
    margin-left: 1300px;
}
.addBtn:hover {
    background-color: #45a049;
}


section {
    padding: 1.5rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#doacoesBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#doacoesBtn:hover {
    background-color: #45a049;
}